#IDE settings
.idea/
# Node
node_modules/
# WP
wp-admin/
wp-includes/
wordpress/
/wp-content/plugins/akismet
/wp-content/plugins/hello.php
/wp-content/themes/twenty*/
/wp-content/uploads/
/wp-content/cache/
/wp-content/webp-express/
/wp-content/themes/dermideal/cache/
/wp-content/themes/dermideal/cache
/wp-content/object-cache.php
/wp-content/db.php
/wp-content/advanced-cache.php
/wp-content/autoptimize_404_handler.php
/wp-content/wp-cache-config.php
/wp-content/wp-rocket-config
/wp-content/wpo-cache
/wp-content/webp-express
# ENV
.env
# Logs
yarn-error.log
*.log
# HTACCESS
/.htaccess