.bg-slider {
  inset: 0;
  position:absolute!important;
  top:0;
  left:0;
}

.bg-slider .swiper-slide {
  background-repeat: no-repeat;
  background-size: 250%;
  background-position: center 0;
  @include respond(991){
    background-size: cover;
    background-position: center center;
  }
  width: 100%;
  height: 100%;
}