.bg-slider {
  inset: 0;
  position:absolute;
  z-index:0;
  top:0;
  left:0;
}

.bg-slider .swiper-slide {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}