.testimonials-container{
  max-width: 100%;
  height:397px;
  @include respond(768){
    max-width:670px;
    height:320px;
  }
}

.testimonial-flip-container{
  width:auto;
  height:320px;
  min-height:320px;
  perspective:1200px;

  .flip-card{
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    transition:transform .8s ease;
  }
  .flip-card.show-back{
    transform:rotateY(180deg);
  }
  .side{
    position:absolute;
    inset:0;
    border-radius:20px;
  }
  .side {
    background: white;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden !important;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden!important;
  }
  .back{
    transform:rotateY(180deg);
    background: white;
    img{
      max-height:222px;
      width:100%;
      max-width: 455px;
      object-fit: contain;
    }
  }
}

.testimonials-button-flip{
  &:hover{
    svg{
      path{
        stroke:white;
        fill:white;
      }
    }
  }
}