@charset "UTF-8";
@font-face {
	font-family: 'RobotoCondensed';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
}

