/**
* ------------ Colors -----------------
*/
$text-white: #fff;
$text-band: #325956;
$brand: #325956;
$brand-light:#bdc7a2;
$yellow: #FDB931;
$dark-blue: #04122C;
$text: #404040;
$header: #04122C;
$black: #040304;
$error: #FF0505;

$semi-dark-gray: #E0E0E0;
$dark-gray: #CDCACA;
$deep-gray :#858591;


$path: '../images/';

/**
* Fonts
*/

$font-base: 16px;
$font-family: 'RobotoCondensed', sans-serif;

